<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kommentar</title>
</head>
<body>
  <h1>Hinterlasse einen Kommentar</h1>
  <form action="/comment" method="POST">
    <label for="comment">Kommentar:</label>
    <textarea id="comment" name="comment" required></textarea>
    <br>
    <button type="submit">Abschicken</button>
  </form>
</body>
</html>
